@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}
#id-account>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#id-account div form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
#id-account form>div {
    display: flex;
}
#weather {
    display: flex;
    justify-content: center;
}
#weather>div {
    background-color: darkslategrey;
    color: white;
    margin: 7em;
}
.required::after {
    content: '*';
    color: red;
}