{% extends 'base.html.twig' %}

{% block title %}Calculus{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <h5> NB1 : {{ nb1 }} </h5>
        <h5> Operator : {{ ope }} </h5>
        <h5> NB2 : {{ nb2 }} </h5>
        <h5> {{ total }} </h5>
    </div>
{% endblock %}
  